<td>
	{{WORD}}

	<button class="change-sleep" data-id="{{ID}}" data-newsleep="{{MASTERED}}">
		{{#if MASTERED}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete" data-id="{{id}}">
		DELETE
	</button>
</td>
